body {
  font: 400 1em "Cormorant", serif;
  color: #ebebeb;
  background: #333333; }

h1, h2 {
  font-family: 400 3em "Cormorant Unicase", serif;
  display: inline-block;
  margin-bottom: 0; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.6em; }

a, h1, h2 {
  color: #ebebeb; }

.top h1 {
  margin-top: 0;
  color: #e1b4b6; }
  .top h1 a {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;
    margin-right: 0.2em;
    padding: 0;
    color: #e1b4b6; }
    .top h1 a:after {
      border-top: none; }
    .top h1 a:hover {
      background: none; }

p {
  text-align: justify; }

a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1em;
  padding: 0.2em; }
  a:after {
    content: "";
    background: none;
    display: block;
    margin-top: 0;
    border-top: 0.2em solid rgba(225, 180, 182, 0.2);
    transition: background 200ms; }
  a:hover {
    background-color: rgba(225, 180, 182, 0.2);
    transition: background 200ms; }

i, cite, em, var, address, dfn, .author {
  font-style: normal; }
  i:before, i:after, cite:before, cite:after, em:before, em:after, var:before, var:after, address:before, address:after, dfn:before, dfn:after, .author:before, .author:after {
    content: "/";
    color: #e1b4b6;
    padding: 0 0.1em; }

dt {
  padding-top: 0.4em;
  display: inline-block;
  vertical-align: top;
  width: 7em;
  margin-bottom: 1em; }

dd {
  vertical-align: top;
  display: inline-block;
  margin-left: 0;
  margin-bottom: 1em; }

form dl div {
  margin: 0.2em 0.2em 0.2em 1em; }

form {
  margin: 1em 1em 1em 0; }

input[type='text'], input[type='password'], textarea {
  padding: 0.4em;
  background: none;
  border: none;
  color: #e1b4b6;
  font-family: "Cormorant", serif;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  width: 14em; }
  input[type='text']:-webkit-autofill, input[type='password']:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000em #333333 inset;
    -webkit-text-fill-color: #e1b4b6 !important; }

input[type='text'], input[type='password'] {
  border-bottom: 0.2em solid rgba(225, 180, 182, 0.6); }

textarea {
  width: 21em;
  background: none;
  padding: 1em;
  border-left: 0.2em solid rgba(225, 180, 182, 0.6); }
  textarea:hover::-webkit-resizer {
    border-right: solid 0.2em rgba(225, 180, 182, 0.6);
    border-bottom: solid 0.2em rgba(225, 180, 182, 0.6);
    transition: -webkit-resizer 200ms;
    transition: border 200ms; }
  textarea::-webkit-scrollbar {
    color: #e1b4b6; }
  textarea::-webkit-resizer {
    background-image: none; }
  textarea::-webkit-scrollbar-corner {
    background: #333333; }

input:focus, textarea:focus {
  outline: none; }

input[type='submit'], input[type='textarea'] {
  font-family: "Cormorant Unicase", serif;
  background: none;
  border: none;
  color: #e1b4b6;
  font-size: 1em;
  border-bottom: 0.2em solid rgba(225, 180, 182, 0.6); }
  input[type='submit']:after, input[type='textarea']:after {
    content: "";
    background: none;
    display: block;
    margin-top: 0;
    border-top: 0.2em solid rgba(225, 180, 182, 0.2);
    transition: background-color 200ms; }
  input[type='submit']:hover, input[type='textarea']:hover {
    cursor: pointer;
    background-color: rgba(225, 180, 182, 0.2);
    transition: background-color 200ms; }

.page {
  margin: 2em auto;
  max-width: 35em;
  padding: 1em; }

.nav {
  display: flex;
  float: right; }

.nav a {
  margin: 0 0.2em;
  color: #e1b4b6; }

.entries {
  list-style: none;
  margin: 0;
  padding: 0; }

.entries li {
  margin: 0.4em 1em; }

/*# sourceMappingURL=style.css.map */
