{% extends "layout.html" %}
{% block body %}
  <ul class="entries">
  {% for entry in entries %}
      {% set entry_url = url_for('entry_by_id', entry_id=entry.id) %}
      {% set author_url = url_for('user', username=entry.author) %}

      <li>
          <a href="{{ entry_url }}"><h2>{{ entry.title }}</h2>
              <p>{{ entry.body[0:200]|safe }} <span class="author">{{ "by " + entry.author }}</span></p>
          </a>
      </li>
  {% else %}
      <li><em>No entries yet.</em></li>
  {% endfor %}
  </ul>
{% endblock %}
