{% extends 'layout.html' %}
{% from "_formhelper.html" import render_field %}
{% block body %}
    <h2>{{ val }}</h2>
    {% if error %}
        <p class="error"><strong>Error: </strong> {{ error }}
    {% endif %}

    <form method=post action="{{ url_for(dest) }}">
        <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {% if dest != 'login' %}
                {{ render_field(form.email) }}
            {% endif %}
            {{ render_field(form.password) }}
            <input type=submit value={{ val }}>
        </dl>
    </form>
    {% if dest == 'login' %}
        <p>No account? <a href="{{ url_for('register') }}" method="post">Register here.</a>
    {% endif %}
{% endblock %}
