{% extends "layout.html" %}
{% from "_formhelper.html" import render_field %}
{% block body %}
    <h2>Add Entry</h2>
    {% if error %}
        <p class="error"><strong>Something went wrong: </strong> {{ error }}
    {% endif %}
{% if session.logged_in %}
    <form action="{{ url_for('new') }}" method="post" class="add-entry">
        <dl>
            {{ render_field(form.title) }}
            {{ render_field(form.body) }}
            <dd><input type="file" name="Files" multiple>
            <dd><input type="submit" value="Submit">
        </dl>
    </form>
{% endif %}
{% endblock %}