{% extends "layout.html" %}
{% from "_formhelper.html" import render_field %}
{% block body %}
    <h2>New Entry</h2>
    {% if error %}
        <p class="error"><strong>Error: </strong> {{ error }}
    {% endif %}
    <form action="{{ url_for('new_entry') }}" method="post" class="new-entry">
        <dl>
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.body) }}
            <dd><input type="submit" value="Submit">
        </dl>
    </form>
{% endblock %}
