{% extends 'layout.html' %}
{% block body %}
    <h2>Reset Password</h2>
    {% if error %}
        <p class="error"><strong>Something went wrong: </strong> {{ error }}
    {% endif %}

    <form action="{{ url_for('reset_password') }}" method="post">
        <dl>
            <dt>Email Address:
            <dd><input type="text" name="email">
            <dd><input type="submit" value="Reset Password">
        </dl>
    </form>
    {% if login %}
        <p>No account? <a href="{{ url_for('register') }}">Register here.</a>
    {% endif %}
{% endblock %}
